body{
    background-image: url("/BL-tech_web/Layer51/Jpg/tlo.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   align-items: center;
   display: flex;
   justify-content: center;
   min-height: 100hv;   
   flex-direction: column;

}

.container {
    width: 480px;
    display: flex;
    background-color: #ccc;
    justify-content: center;
    flex-wrap: wrap;
  }

header {
    margin-top: 20px;
}

.logo{
    width: 460px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: #ccc
}
a:hover {
    border-bottom: 1px solid #ccc;
}
 .box{
     padding: 10px;

 }
 .logo img{
     width: 150 px;
 }


 section {
     width: 460px;
     display: flex;
     margin-top: 50px;
     align-items: center;
     flex-direction: column;
     justify-content: center;
 }

 main {
     margin-bottom: 30px;
 }

 footer span {
     font-size: 11px;
     color: #4344;
     font-family: Arial, Helvetica, sans-serif;

 }

 h1{
     color: #ccc;
     padding: 10px;
     font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 50px;
     text-transform: uppercase;
 }

 h2 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: capitalize;
    color: #cbd6dfdc;
 }
 h2, p {
     font-size: 13px;
     color:#ccc;
     font-family:Arial, Helvetica, sans-serif; ;
 }

 p { margin-bottom: 30px;
    line-height: 32px;
    text-align: justify;

 }