*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.main2{
    display:flex;
}
.menu{
    font-size: 16px;
    background-color: #2a2f41;
    height: 100HV;
    width: 100%;
}
.menu button{
    margin: 16px;
    border: 0;
    color: white;
    background-color: #1494f7;
    border-radius: 20%;
    padding: 8px 16px;
}
.menu a{
    color: white;
    margin-left: 20px;
}
.menu h3 {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(8, 107, 255);
}

.email{
    display: inline-flex;
    border-bottom: 1px solid #ddd;
    padding: 14px 16px;
}
.mail{
    height: 100%;
    width: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.email img{
    width: 42px;
    height: 42px;
    margin-right: 8px;
    border-radius: 3px;
}

.email h3{
    font-size: 13px;
    color: #999;
}

.email h4{
    color: #999;
    font-size: 13px;
    text-transform: uppercase;
}

.email p{
    font-size: 13px;
    color: #000;
    margin: 7px 0;
}

.new {
    border-left: 6px solid #1b98f8;
}

.first{
    background-color: #eee
}

.mails{
    padding: 16px;
    height: 100%;
}
.text{
    font-size: 16px;
    margin: 16px 0;
}
.title{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.title h1{
    font-size: 32px;
}
    .date{
        color: #999
    }

    .text{
        font-size: 16px;
        margin: 16px 0;
    }
    .person{
        color: #1799fc;
    }

    .title button{
        margin: 2px;
        color: rgb(105, 105, 105);
        font-size: 16px;
        background-color: transparent;
        border-radius: 50px;
        padding: 6px 26px;
        border: 1px solid #ddd
    }
    .buttons{
        text-align: right;
    }
    
