img {
  max-width: 100%;
  max-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
  color: brown;
}
#logoCSGO {
  max-width: 100px;
}

.pNav {
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pNav > li {
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  background-color: rgba(5, 12, 32, 0.952);
}
.logo {
  display: flex;
  justify-content: center;
}
.color2 {
  color: black;
}

.mainTło {
  background-position: top;
  background-size: cover;
  display: grid;
  grid-template-rows: min-content;
  font-family: var(--font-Montserrat);
  height: 100vh;
}
.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nazwa {
  width: 100%;
  height: 1000px;
  background-image: url(jpg/csgoblog.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(36, 36, 182);
  font-size: 4rem;
}
.mainRead {
  grid-row: 6/9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background 0.5s ease-in-out;
  background-color: rgba(155, 106, 118, 0.952);
}

#readmore {
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
  font-size: 3rem;
  color: rgb(109, 81, 136);
}

/*teams*/
.teamCS {
  grid-row: 2/2;
  background-image: url(jpg/tło/tło2.jpg);
  display: grid;
  background-repeat: repeat-y;
}
.Plteam {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ImgTeam {
  max-width: 180px;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed v;
}
.Players {
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: brown;
}
h1 {
  font-size: 1.8rem;
  padding: 20px;
}
ol {
  list-style-type: decimal;
  line-height: 2rem;
}

ol > li {
  font-size: 1.4rem;
}

.TeamJmg {
  display: flex;
  align-items: center;
}
/*Blog*/
.blogBox {
  display: grid;
  padding: 30px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.blogPost {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 1/2;
  color: var(--color-white-main);
}
.MainPost {
  background-image: url(Jpg/tło/tło2.jpg);
  display: grid;
  background-repeat: repeat-y;
  grid-row: 2/2;
}
.titleBlog {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  padding-top: 20px;
  font-style: oblique;
  color: aquamarine;
}
.date {
  padding-bottom: 20px;
  font-style: oblique;
  color: blue;
}
.BlogText {
  font-size: 20px;
  line-height: 1.5;
  color: brown;
}
.blogMore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  margin-top: 30px;
  border: 2px solid;
  background-color: black;
  border-radius: 60px;
  outline: none;
  text-transform: uppercase;
}
/*Operation*/
.OperationBox {
  display: grid;
  padding: 30px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.PopularOperation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 1/2;
  color: var(--color-white-main);
  padding: 20px;
}
.Opr {
  background-image: url(Jpg/tło/tło2.jpg);
  display: grid;
  background-repeat: repeat-y;
  grid-row: 2/2;
}
.NameOperation {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  padding-top: 20px;
  font-style: oblique;
  color: aquamarine;
}
.OperationText {
  font-size: 20px;
  line-height: 1.5;
}
.OperationMore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  margin-top: 30px;
  border: 2px solid;
  background-color: black;
  border-radius: 60px;
  outline: none;
  text-transform: uppercase;
}
/*blogPost*/
.blogInfo {
  padding: 40px;
  font-size: 50px;
  font-size: 400;
  text-align: center;
}
.postBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
}
.post {
  grid-column: 1/3;
  padding: 20px 50px;
}
.InfoText {
  color: aqua;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.6;
}
.mainBlog {
  background-image: url(Jpg/tło/tło2.jpg);
  display: grid;
  background-repeat: repeat-y;
  grid-row: 2/2;
}
/*OprtationBlog*/
.mainOperation {
  background-image: url(Jpg/tło/tło2.jpg);
  display: grid;
  background-repeat: repeat-y;
  grid-row: 2/2;
}
.postOperation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
}
.postOpe {
  grid-column: 1/3;
  padding: 20px 50px;
}
.OperationInfo{
  padding: 40px;
  font-size: 50px;
  font-size: 400;
  text-align: center;
}
.OperationText{
  color: aqua;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.6;
}
